.nav-links .nav-item{
    margin-left: 6rem  !important;
}

.home .features{
    border-top: 0px;
}

.home .hero h1{
    display: none;
}

.home .hero .description{
    display: none;
}

.home .feature h2{
    text-align: center;
}

.home .feature p{
    text-align: center;
}

.nav-links{
    margin-right: 4rem;
}

.theme-default-content:not(.custom){
    max-width:840px;
}
